openapi: 3.0.1
info:
  title: Audiflix
  version: "0.1"
servers:
- url: https://search.audiflix.io
  description: PROD
- url: http://localhost:8080
  description: Local
security:
- security: []
paths:
  /v1/lawyer:
    post:
      operationId: registerLawyer
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TribunalPasswordsDTO'
        required: true
      responses:
        default:
          description: registerLawyer default response
          content:
            application/json:
              schema:
                type: string
  /v1/lawyer/{username}:
    get:
      operationId: listTribunalPasswordsFromUsername
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: listTribunalPasswordsFromUsername default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TribunalPasswords'
  /v1/lawyer/{tribunalPasswordId}:
    put:
      operationId: inactiveOrActivateTribunalPassword
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: tribunalPasswordId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: inactiveOrActivateTribunalPassword default response
          content:
            application/json:
              schema:
                type: string
  /v1/cnh:
    post:
      tags:
      - CNH
      summary: Criar solicitação de CNH
      description: Cria uma nova solicitação de CNH e envia para a fila de processamento
        assíncrono
      operationId: issuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CnhSolicitacaoRequest'
        required: true
      responses:
        "200":
          description: Solicitação criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CnhResponse'
        "400":
          description: Dados inválidos na requisição
        "500":
          description: Erro interno ao processar solicitação
  /v1/cnh/organizations/{organizationId}/document/{document}:
    get:
      tags:
      - CNH
      summary: Buscar CNH mais recente por CPF
      description: Retorna a CNH mais recente cadastrada para um determinado CPF
      operationId: findLatestByDocument
      parameters:
      - name: document
        in: path
        description: CPF do titular da CNH
        required: true
        schema:
          type: string
      - name: organizationId
        in: path
        description: ID da organização
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      responses:
        "200":
          description: CNH encontrada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CnhResponse'
        "404":
          description: Nenhuma CNH encontrada para o CPF informado
  /v1/cnh/organizations/{organizationId}/request/{requestId}:
    get:
      tags:
      - CNH
      summary: Buscar CNH por requestId
      description: Retorna a CNH cadastrada para um determinado requestId
      operationId: findByRequestId
      parameters:
      - name: requestId
        in: path
        description: RequestId da solicitação
        required: true
        schema:
          type: string
      - name: organizationId
        in: path
        description: ID da organização
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: CNH encontrada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CnhResponse'
        "404":
          description: Nenhuma CNH encontrada para o requestId informado
  /v1/organization/{organizationId}/customfield/add:
    post:
      summary: Cadastrar um novo campo customizado na Organizacao
      description: Api para Cadastrar um novo campo customizado na Organizacao
      operationId: addCustomFields
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomFieldsRequest'
        required: true
      responses:
        default:
          description: addCustomFields default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomFields'
  /v1/organization/{organizationId}/customfield/{customFieldId}:
    get:
      summary: Listar todos os campos customizaveis da Organizacao ou algum especifico
      description: Api para Listar todos os campos customizaveis da Organizacao ou
        algum especifico
      operationId: listCustomFields
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      - name: _start
        in: query
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
          default: 0
      - name: _end
        in: query
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: _sort
        in: query
        required: false
        schema:
          type: string
          nullable: true
          default: id
      - name: _order
        in: query
        required: false
        schema:
          type: string
          nullable: true
          default: DESC
      responses:
        default:
          description: listCustomFields default response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
    put:
      summary: Cadastrar um novo campo customizado na Organizacao
      description: Api para Cadastrar um novo campo customizado na Organizacao
      operationId: changeCustomFields
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCustomFieldsRequest'
        required: true
      responses:
        default:
          description: changeCustomFields default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomFields'
    delete:
      summary: Inativar um campo customizado da Organizacao
      description: Api para Inativar um campo customizado da Organizacao
      operationId: deleteCustomField
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteCustomField default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomFields'
  /v1/organization/{organizationId}/customfield/list:
    get:
      summary: Listar todos os campos customizaveis da Organizacao ou algum especifico
      description: Api para Listar todos os campos customizaveis da Organizacao ou
        algum especifico
      operationId: listCustomFields
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      - name: _start
        in: query
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
          default: 0
      - name: _end
        in: query
        required: false
        schema:
          type: integer
          format: int32
          nullable: true
      - name: _sort
        in: query
        required: false
        schema:
          type: string
          nullable: true
          default: id
      - name: _order
        in: query
        required: false
        schema:
          type: string
          nullable: true
          default: DESC
      responses:
        default:
          description: listCustomFields default response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /v1/organization/{organizationId}/customfield/{customFieldId}/listvalue/add:
    post:
      summary: Cadastrar um novo valor na lista de valores na Organizacao
      description: Api para cadastrar um novo valor na lista de valores na Organizacao
      operationId: addListValues
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddListValueRequest'
        required: true
      responses:
        default:
          description: addListValues default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomFields'
  /v1/organization/{organizationId}/customfield/{customFieldId}/listvalue/{listValueId}:
    get:
      summary: Listar todos os campos customizaveis da Organizacao ou algum especifico
      description: Api para Listar todos os campos customizaveis da Organizacao ou
        algum especifico
      operationId: listListValues
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: listValueId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listListValues default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomFields'
    put:
      summary: Altera uma valor da lista de valores
      description: Altera uma valor da lista de valores
      operationId: updateListValues
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: listValueId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddListValueRequest'
        required: true
      responses:
        default:
          description: updateListValues default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
    delete:
      summary: Inativar um valor na lista de valores da Organizacao
      description: Api para Inativar um valor na lista de valores da Organizacao
      operationId: deleteListValues
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: listValueId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteListValues default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomFields'
  /v1/organization/{organizationId}/customfield/{customFieldId}/listvalue/list:
    get:
      summary: Listar todos os campos customizaveis da Organizacao ou algum especifico
      description: Api para Listar todos os campos customizaveis da Organizacao ou
        algum especifico
      operationId: listListValues
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: listValueId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listListValues default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomFields'
  /v1/organization/{organizationId}/process/{processId}/customfield:
    get:
      summary: Listar as informaÃ§Ãµes complementares no processo da Organizacao
      description: Api para Listar as informaÃ§Ãµes complementares no processo da Organizacao
      operationId: getProcessCustomFields
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: getProcessCustomFields default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomFields'
    put:
      summary: Alterar informacao complementar no processo da Organizacao
      description: Api para Alterar informacao complementar no processo da Organizacao
      operationId: changeProcessCustomFields
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldProcessRequest'
        required: true
      responses:
        default:
          description: changeProcessCustomFields default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomFields'
    post:
      summary: Salvar informacao complementar no processo da Organizacao
      description: Api para Salvar informacao complementar no processo da Organizacao
      operationId: saveProcessCustomFields
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldProcessRequest'
        required: true
      responses:
        default:
          description: saveProcessCustomFields default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomFields'
  /v1/accept-terms:
    post:
      summary: Api para registrar aceite do usuÃ¡rio por algum tipo.
      operationId: acceptedBy
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptTermsInput'
        required: true
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                type: object
  /v1/accept-terms/{email}:
    get:
      summary: Api para verificar se houve um  aceite ou nÃ£o do usuÃ¡rio por algum
        tipo.
      operationId: acceptedBy
      parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/AcceptTermsType'
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                type: object
  /v2/organizations/{organizationId}/questions:
    get:
      summary: Lista todas as perguntas por tipo e OrganizaÃ§Ã£o
      description: Api para listar todas as perguntas a nÃ­vel de tipo e OrganizaÃ§Ã£o
      operationId: listQuestionAll
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionModel
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: typeId
        in: query
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: listQuestionAll default response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
    post:
      summary: Cadastrar uma pergunta por tipo e OrganizaÃ§Ã£o
      description: Api para cadastrar pergunta a nÃ­vel de tipo e OrganizaÃ§Ã£o
      operationId: addQuestion
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddQuestionRequest'
        required: true
      responses:
        default:
          description: addQuestion default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v2/organizations/{organizationId}/questions/{questionId}:
    get:
      summary: Informa a pergunta especÃ­fica de acordo com o id
      description: Api para informar a pergunta especÃ­fica de acordo com o id
      operationId: listQuestionId
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: listQuestionId default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    put:
      summary: Alterar uma pergunta por tipo e OrganizaÃ§Ã£o
      description: Api para alterar a pergunta a nÃ­vel de tipo e OrganizaÃ§Ã£o
      operationId: changeQuestion
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeQuestionRequest'
        required: true
      responses:
        default:
          description: changeQuestion default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    post:
      summary: Associa um tipo a uma pergunta por OrganizaÃ§Ã£o
      description: Api para associar um tipo a uma pergunta por OrganizaÃ§Ã£o
      operationId: addQuestionType
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddQuestionTypeRequest'
        required: true
      responses:
        default:
          description: addQuestionType default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    delete:
      summary: Deletar uma pergunta por tipo e OrganizaÃ§Ã£o
      description: Api para deletar a pergunta a nÃ­vel de tipo e OrganizaÃ§Ã£o
      operationId: deleteQuestion
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteQuestion default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v2/organizations/{organizationId}/questions/{questionId}/labels:
    get:
      summary: Informa a resposta especÃ­fica de acordo com o id
      description: Api para informar a resposta especÃ­fica de acordo com o id
      operationId: listLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    post:
      summary: Cadastrar uma opÃ§Ã£o de resposta referente a pergunta
      description: Api para cadastrar a resposta da pergunta
      operationId: addLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddLabelRequest'
        required: true
      responses:
        default:
          description: addLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v2/organizations/{organizationId}/questions/{questionId}/labels/{labelId}:
    get:
      summary: Informa a resposta especÃ­fica de acordo com o id
      description: Api para informar a resposta especÃ­fica de acordo com o id
      operationId: listLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    put:
      summary: Altera a opÃ§Ã£o de resposta da pergunta
      description: Api para alterar a resposta da pergunta
      operationId: changeLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddLabelRequest'
        required: true
      responses:
        default:
          description: changeLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    delete:
      summary: Inativa a opÃ§Ã£o de resposta de uma pergunta
      description: Api para inativar a resposta da pergunta
      operationId: deleteLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organizations/{organizationId}/qsa:
    get:
      operationId: getOrganizationQSAByOrganization
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: getOrganizationQSAByOrganization default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
  /v1/organizations/{organizationId}/qsa/{documentNumber}:
    post:
      operationId: runQSAByOrganization
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: documentNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: runQSAByOrganization default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
  /v1/organizations/{organizationId}/holder/{holderId}/organizationQSA/{organizationQSAId}:
    post:
      operationId: getAnalyticDataByOrganizationQSA
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: holderId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: organizationQSAId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: getAnalyticDataByOrganizationQSA default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
  /v1/organizations/{organizationId}/holder/{holderId}/organizationQSA/{organizationQSAId}/relation/{organizationQSARelationId}:
    post:
      operationId: getAnalyticDataByOrganizationQSARelation
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: holderId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: organizationQSAId
        in: path
        required: true
        schema:
          type: string
      - name: organizationQSARelationId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: getAnalyticDataByOrganizationQSARelation default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
  /v1/organizations/{organizationId}/holder/{holderId}/document/{documentNumber}:
    get:
      operationId: getKYCResponse
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: holderId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: documentNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: getKYCResponse default response
          content:
            application/json:
              schema:
                type: string
  /v1/organizations/{organizationId}/organizationQSA/{organizationQSAId}/relatedEntityTaxIdNumber/{relatedEntityTaxIdNumber}:
    get:
      operationId: getOrganizationQSARelationsChildrens
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: organizationQSAId
        in: path
        required: true
        schema:
          type: string
      - name: relatedEntityTaxIdNumber
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        default:
          description: getOrganizationQSARelationsChildrens default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationQSARelationsDTO'
  /v1/organization/{organizationId}/checklistgroup:
    get:
      summary: Listar um Grupo do CheckList na OrganizaÃ§Ã£o
      description: Api para Listar um Grupo do CheckList na OrganizaÃ§Ã£o
      operationId: listCheckListGroupAll
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: listCheckListGroupAll default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
    post:
      summary: Cadastrar um Grupo do CheckList na OrganizaÃ§Ã£o
      description: Api para Cadastrar um Grupo do CheckList na OrganizaÃ§Ã£o
      operationId: addCheckListGroup
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCheckListGroupRequest'
        required: true
      responses:
        default:
          description: addCheckListGroup default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
  /v1/organization/{organizationId}/checklistgroup/{checklistgroupId}:
    get:
      summary: Listar um Grupo do CheckList especÃ­fico da OrganizaÃ§Ã£o
      description: Api para Listar um Grupo do CheckList especÃ­fico da OrganizaÃ§Ã£o
      operationId: listQuestionId
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: listQuestionId default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
    put:
      summary: Alterar um Grupo do CheckList na OrganizaÃ§Ã£o
      description: Api para Alterar um Grupo do CheckList na OrganizaÃ§Ã£o
      operationId: changeCheckListGroup
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCheckListGroupRequest'
        required: true
      responses:
        default:
          description: changeCheckListGroup default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
    delete:
      summary: Deletar um Grupo do CheckList na OrganizaÃ§Ã£o
      description: Api para Deletar um Grupo do CheckList na OrganizaÃ§Ã£o
      operationId: deleteCheckListGroup
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteCheckListGroup default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
  /v1/organization/{organizationId}/checklistgroup/{checklistgroupId}/question:
    get:
      summary: Informar a(s) pergunta(s) referente ao CheckListGroup da OrganizaÃ§Ã£o
      description: Api para informar a(s) pergunta(s) referente ao CheckListGroup
        da OrganizaÃ§Ã£o
      operationId: listCheckListQuestion
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listCheckListQuestion default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
    post:
      summary: Cadastrar uma pergunta referente ao CheckListGroup da OrganizaÃ§Ã£o
      description: Api para Cadastrar uma pergunta referente ao CheckListGroup da
        OrganizaÃ§Ã£o
      operationId: addCheckListQuestion
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCheckListQuestionRequest'
        required: true
      responses:
        default:
          description: addCheckListQuestion default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
  /v1/organization/{organizationId}/checklistgroup/{checklistgroupId}/question/{questionId}:
    get:
      summary: Informar a(s) pergunta(s) referente ao CheckListGroup da OrganizaÃ§Ã£o
      description: Api para informar a(s) pergunta(s) referente ao CheckListGroup
        da OrganizaÃ§Ã£o
      operationId: listCheckListQuestion
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listCheckListQuestion default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
    put:
      summary: Alterar uma pergunta referente ao CheckListGroup da OrganizaÃ§Ã£o
      description: Api para Alterar uma pergunta referente ao CheckListGroup da OrganizaÃ§Ã£o
      operationId: changeCheckListQuestion
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCheckListQuestionRequest'
        required: true
      responses:
        default:
          description: changeCheckListQuestion default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
    delete:
      summary: Deletar uma pergunta referente ao CheckListGroup da OrganizaÃ§Ã£o
      description: Api para Deletar uma pergunta referente ao CheckListGroup da OrganizaÃ§Ã£o
      operationId: deleteCheckListQuestion
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteCheckListQuestion default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
  /v1/organization/{organizationId}/checklistgroup/{checklistgroupId}/question/{questionId}/label:
    get:
      summary: Informar a(s) opÃ§Ã£o(Ãµes) de resposta(s) de uma pergunta especÃ­fica
        referente ao CheckListGroup da OrganizaÃ§Ã£o
      description: Api para Informar a(s) opÃ§Ã£o(Ãµes) de resposta(s) de uma pergunta
        especÃ­fica referente ao CheckListGroup da OrganizaÃ§Ã£o
      operationId: listCheckListLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listCheckListLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
    post:
      summary: Cadastrar uma opÃ§Ã£o de resposta de uma pergunta especÃ­fica referente
        ao CheckListGroup da OrganizaÃ§Ã£o
      description: Api para Cadastrar uma opÃ§Ã£o de resposta de uma pergunta especÃ­fica
        referente ao CheckListGroup da OrganizaÃ§Ã£o
      operationId: addCheckListLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCheckListLabelRequest'
        required: true
      responses:
        default:
          description: addCheckListLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
  /v1/organization/{organizationId}/checklistgroup/{checklistgroupId}/question/{questionId}/label/{labelId}:
    get:
      summary: Informar a(s) opÃ§Ã£o(Ãµes) de resposta(s) de uma pergunta especÃ­fica
        referente ao CheckListGroup da OrganizaÃ§Ã£o
      description: Api para Informar a(s) opÃ§Ã£o(Ãµes) de resposta(s) de uma pergunta
        especÃ­fica referente ao CheckListGroup da OrganizaÃ§Ã£o
      operationId: listCheckListLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listCheckListLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
    put:
      summary: Alterar uma opÃ§Ã£o de resposta de uma pergunta especÃ­fica referente
        ao CheckListGroup da OrganizaÃ§Ã£o
      description: Api para Alterar uma opÃ§Ã£o de resposta de uma pergunta especÃ­fica
        referente ao CheckListGroup da OrganizaÃ§Ã£o
      operationId: changeCheckListLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCheckListLabelRequest'
        required: true
      responses:
        default:
          description: changeCheckListLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
    delete:
      summary: Deletar uma opÃ§Ã£o de resposta de uma pergunta especÃ­fica referente
        ao CheckListGroup da OrganizaÃ§Ã£o
      description: Api para Deletar uma opÃ§Ã£o de resposta de uma pergunta especÃ­fica
        referente ao CheckListGroup da OrganizaÃ§Ã£o
      operationId: deleteCheckListLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteCheckListLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
  /v1/organization/{organizationId}/checkListItemType:
    get:
      summary: Informar as opÃ§Ãµes de tipo para salvar a question
      description: Api para Informar as opÃ§Ãµes de tipo para salvar a question
      operationId: listCheckListItemType
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: listCheckListItemType default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
  /v1/organization/{organizationId}/process/{processId}/checklist:
    get:
      summary: Listar todos grupos com suas questions e labels e respostas caso jÃ¡
        tenha respondido
      description: Api para Listar todos grupos com suas questions e labels e respostas
        caso jÃ¡ tenha respondido
      operationId: getchecklistProcess
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: getchecklistProcess default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
    post:
      summary: Responder as perguntas do Checklist associados ao processo
      description: Api para Responder as perguntas do Checklist associados ao processo
      operationId: checklistProcess
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckListProcessRequest'
        required: true
      responses:
        default:
          description: checklistProcess default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
  /v1/organization/{organizationId}/checklistgroup/{checklistgroupId}/process/{processId}:
    delete:
      summary: Deletar as respostas do Checklist associadas a um processo da OrganizaÃ§Ã£o
      description: Api para Deletar as respostas do checklist associadas a um processo
        da OrganizaÃ§Ã£o
      operationId: deleteCheckListAnswer
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: checklistgroupId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteCheckListAnswer default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCheckList'
  /v1/certification/retrySearchCertification:
    post:
      summary: Obtem as certidÃµes faltantes
      description: Api para Obter as certidÃµes faltantes
      operationId: retrySearchCertification
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRequest'
        required: true
      responses:
        default:
          description: retrySearchCertification default response
          content:
            application/json:
              schema:
                type: boolean
  /v1/certification/{userPlanConsumeAnalyticsId}:
    get:
      operationId: getCertificate
      parameters:
      - name: userPlanConsumeAnalyticsId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        default:
          description: getCertificate default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
  /v1/certification/userPlanConsumeCertificationDetailId/{userPlanConsumeCertificationDetailId}:
    get:
      operationId: getCertificateDetail
      parameters:
      - name: userPlanConsumeCertificationDetailId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        default:
          description: getCertificateDetail default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/void'
  ? /v1/certification/documentType/{documentType}/userPlanConsumeAnalyticsId/{userPlanConsumeAnalyticsId}/certificationId/{certificationId}
  : get:
      operationId: getCertificateDetail
      parameters:
      - name: documentType
        in: path
        required: true
        schema:
          type: string
      - name: userPlanConsumeAnalyticsId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: certificationId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        default:
          description: getCertificateDetail default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/void'
  /v1/certification/allCertification:
    get:
      operationId: getAllCertification
      parameters:
      - name: documentType
        in: query
        required: true
        schema:
          type: string
      responses:
        default:
          description: getAllCertification default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Map_String.String_'
  /v1/certification/fake/{userPlanConsumeAnalyticsId}:
    get:
      operationId: getFakeCertificate
      parameters:
      - name: userPlanConsumeAnalyticsId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        default:
          description: getFakeCertificate default response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v1/certification/state/{userPlanConsumeCertificationDetailId}:
    get:
      operationId: getStateFromUserPlanConsumeCertificationDetail
      parameters:
      - name: userPlanConsumeCertificationDetailId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        default:
          description: getStateFromUserPlanConsumeCertificationDetail default response
          content:
            application/json:
              schema:
                type: string
  /v1/certification/state/{userPlanConsumeCertificationDetailId}/{state}:
    put:
      operationId: updateStateFromUserPlanConsumeCertificationDetail
      parameters:
      - name: userPlanConsumeCertificationDetailId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: state
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: updateStateFromUserPlanConsumeCertificationDetail default response
          content:
            application/json:
              schema:
                type: string
  /v2/tribunals/organizations/{organizationId}:
    get:
      operationId: listTribunal
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: listTribunal default response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /v2/tribunals/courtMaintenance:
    post:
      operationId: saveCourtMaintenance
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourtMaintenanceRequest'
        required: true
      responses:
        default:
          description: saveCourtMaintenance default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourtMaintenance'
  /v1/login:
    post:
      operationId: login
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogInRequest'
        required: true
      responses:
        default:
          description: login default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
  /v1/forgot-password:
    post:
      operationId: checkUserHolder
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailRequest'
        required: true
      responses:
        default:
          description: checkUserHolder default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEmailForgot'
  /v1/refreshtoken:
    post:
      operationId: refreshtoken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
        required: true
      responses:
        default:
          description: refreshtoken default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
  /v1/login/lastLogin:
    post:
      summary: Atualiza o last Login do User
      operationId: updateLastLogin
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                type: object
        "404":
          description: UsuÃ¡rio nÃ£o encontrado
  /v1/user:
    get:
      summary: InformaÃ§Ãµes do usuÃ¡rio logado
      description: Retorna informaÃ§Ãµes bÃ¡sicas do usuÃ¡rio logado
      operationId: getUserInfo
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                type: object
        "404":
          description: UsuÃ¡rio nÃ£o encontrado
  /v1/search:
    post:
      summary: Busca de processos
      description: Busca de processos e retorna filtros de acordo com os parÃ¢metros
        utilizados.
      operationId: search
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomSearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSummaryResponse'
        "400":
          description: ParÃ¢metros invÃ¢lidos
  /v1/process/{processNumber}:
    get:
      summary: InformaÃ§Ãµes detalhadas de um processo
      description: Retorna detalhes de um processo especÃ­fico
      operationId: getProcess
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: processNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Processo nÃ£o encontrado
    put:
      summary: Inicia a captura do processo
      operationId: sendProcessToQueue
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: processNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Processo nÃ£o encontrado
  /v1/process/{organizationId}/{processNumber}:
    get:
      summary: InformaÃ§Ãµes detalhadas de um processo
      description: Retorna detalhes de um processo especÃ­fico
      operationId: getProcessByOrganization
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: processNumber
        in: path
        required: true
        schema:
          type: string
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: resourceId
        in: query
        required: false
        schema:
          type: string
          nullable: true
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Processo nÃ£o encontrado
  /v1/process/{organizationId}/{processNumber}/autos:
    get:
      summary: InformaÃ§Ãµes dos autos de um processo
      description: Retorna detalhes dos autos de um processo especÃ­fico
      operationId: getAutosByProcessAndOrganization
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: processNumber
        in: path
        required: true
        schema:
          type: string
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Processo nÃ£o encontrado
  /v1/url:
    get:
      summary: URL de acesso temporÃ¡rio a um arquivo
      operationId: getUrl
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: page
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                type: object
  /v1/urlById/{id}:
    get:
      summary: URL de acesso temporÃ¡rio a um arquivo
      operationId: getUrlById
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                type: object
  /v1/logs/{organizationId}:
    get:
      summary: Retorna todos os logs
      operationId: getLogs
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                type: object
  /v1/organization/add:
    post:
      summary: Cadastrar uma nova organizacao
      description: Api para Cadastrar uma nova organizacao
      operationId: addOrgHolder
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrganizationRequest'
        required: true
      responses:
        default:
          description: addOrgHolder default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/searchProcess/{organizationId}:
    post:
      operationId: searchProcess
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessImportInput'
        required: true
      responses:
        default:
          description: searchProcess default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
  /v1/organization:
    get:
      summary: Lista a organizaÃ§Ã£o do usuÃ¡rio
      description: Lista a organizaÃ§Ã£o do usuÃ¡rio
      operationId: listOrganizations
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: listOrganizations default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserOrganizationDTO'
  /v1/organization/{organizationId}/type:
    get:
      summary: Lista o tipo informado ou todos os tipos da OrganizaÃ§Ã£o
      description: Api para listar o tipo informado ou todos os tipo da OrganizaÃ§Ã£o
      operationId: listType
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: typeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listType default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    post:
      summary: Cria um tipo novo na organizaÃ§Ã£o
      description: Api para criar um novo tipo na organizaÃ§Ã£o
      operationId: addType
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTypeRequest'
        required: true
      responses:
        default:
          description: addType default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/type/{typeId}:
    get:
      summary: Lista o tipo informado ou todos os tipos da OrganizaÃ§Ã£o
      description: Api para listar o tipo informado ou todos os tipo da OrganizaÃ§Ã£o
      operationId: listType
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: typeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listType default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    put:
      summary: Altera o nome do tipo na organizaÃ§Ã£o
      description: Api para alterar o nome do tipo na organizaÃ§Ã£o
      operationId: changeType
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: typeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeTypeRequest'
        required: true
      responses:
        default:
          description: changeType default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    delete:
      summary: Inativa o tipo na organizaÃ§Ã£o
      description: Api para inativar o tipo na organizaÃ§Ã£o
      operationId: deleteType
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: typeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteType default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/question:
    get:
      summary: Lista todas as perguntas por tipo e OrganizaÃ§Ã£o
      description: Api para listar todas as perguntas a nÃ­vel de tipo e OrganizaÃ§Ã£o
      operationId: listQuestionAll
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionModel
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: typeId
        in: query
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: listQuestionAll default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    post:
      summary: Cadastrar uma pergunta por tipo e OrganizaÃ§Ã£o
      description: Api para cadastrar pergunta a nÃ­vel de tipo e OrganizaÃ§Ã£o
      operationId: addQuestion
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddQuestionRequest'
        required: true
      responses:
        default:
          description: addQuestion default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/question/{questionId}:
    get:
      summary: Informa a pergunta especÃ­fica de acordo com o id
      description: Api para informar a pergunta especÃ­fica de acordo com o id
      operationId: listQuestionId
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: listQuestionId default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    put:
      summary: Alterar uma pergunta por tipo e OrganizaÃ§Ã£o
      description: Api para alterar a pergunta a nÃ­vel de tipo e OrganizaÃ§Ã£o
      operationId: changeQuestion
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeQuestionRequest'
        required: true
      responses:
        default:
          description: changeQuestion default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    post:
      summary: Associa um tipo a uma pergunta por OrganizaÃ§Ã£o
      description: Api para associar um tipo a uma pergunta por OrganizaÃ§Ã£o
      operationId: addQuestionType
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddQuestionTypeRequest'
        required: true
      responses:
        default:
          description: addQuestionType default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    delete:
      summary: Deletar uma pergunta por tipo e OrganizaÃ§Ã£o
      description: Api para deletar a pergunta a nÃ­vel de tipo e OrganizaÃ§Ã£o
      operationId: deleteQuestion
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteQuestion default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/question/{questionId}/label:
    get:
      summary: Informa a resposta especÃ­fica de acordo com o id
      description: Api para informar a resposta especÃ­fica de acordo com o id
      operationId: listLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    post:
      summary: Cadastrar uma opÃ§Ã£o de resposta referente a pergunta
      description: Api para cadastrar a resposta da pergunta
      operationId: addLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddLabelRequest'
        required: true
      responses:
        default:
          description: addLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/question/{questionId}/label/{labelId}:
    get:
      summary: Informa a resposta especÃ­fica de acordo com o id
      description: Api para informar a resposta especÃ­fica de acordo com o id
      operationId: listLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        default:
          description: listLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    put:
      summary: Altera a opÃ§Ã£o de resposta da pergunta
      description: Api para alterar a resposta da pergunta
      operationId: changeLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddLabelRequest'
        required: true
      responses:
        default:
          description: changeLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    delete:
      summary: Inativa a opÃ§Ã£o de resposta de uma pergunta
      description: Api para inativar a resposta da pergunta
      operationId: deleteLabel
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: questionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: labelId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteLabel default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/process/{processId}:
    get:
      summary: Informa o detalhe de um processo especÃ­fico de acordo com o id
      description: Api para informar o detalhe de um processo especÃ­fico de acordo
        com o id
      operationId: listProcessId
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: listProcessId default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/process:
    get:
      summary: List os processos pendentes de classificar
      description: Api para listar os processos pendentes de classificaÃ§Ã£o
      operationId: listProcess
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: typeId
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: typeCourt
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: processNumber
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: court
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: dtbegin
        in: query
        required: false
        schema:
          type: string
          nullable: true
      - name: dtend
        in: query
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: listProcess default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/user/{userId}:
    post:
      operationId: addLabelUser
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddLabelUserRequest'
        required: true
      responses:
        default:
          description: addLabelUser default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/process/{processId}/people/{peopleId}:
    post:
      summary: Cria as respostas associadas ao processo
      description: Api para responder as perguntas asssociadas ao processo
      operationId: addLabelProcess
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: peopleId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddQuestionProcessRequest'
        required: true
      responses:
        default:
          description: addLabelProcess default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/process/{processId}/people/{peopleId}/uniquePeopleProc/{uniquePeopleProc}:
    get:
      summary: Lista as perguntas e respostas respondidas do processo associada a
        pessoa
      description: Api para listar as perguntas e respostas respondidas do processo
        associada a pessoa
      operationId: listLabelsProcess
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: uniquePeopleProc
        in: path
        required: true
        schema:
          type: string
      - name: peopleId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: listLabelsProcess default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    put:
      summary: Altera as respostas associadas ao processo
      description: Api para alterar as respstas das perguntas asssociadas ao processo
      operationId: changeLabelProcess
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: peopleId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: uniquePeopleProc
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddQuestionProcessRequest'
        required: true
      responses:
        default:
          description: changeLabelProcess default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/uniquePeopleProc/{uniquePeopleProc}/audience:
    put:
      summary: "Altera a data de audiencia, data do Recebimento e Data de RealizaÃ§\
        Ã£o de uma entrevista associadas ao processo"
      description: "Api para alterar a data de audiencia, data do Recebimento e Data\
        \ de RealizaÃ§Ã£o de uma entrevista associadas ao processo"
      operationId: changeAudience
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: uniquePeopleProc
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAudienceRequest'
        required: true
      responses:
        default:
          description: changeAudience default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/uniquePeopleProc/{uniquePeopleProc}:
    delete:
      summary: Deleta a entrevista da pessoa selecionada associada ao processo
      description: Api para deletar a entrevista da pessoa selecionada associada ao
        processo
      operationId: deleteProcessPeople
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: uniquePeopleProc
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: deleteProcessPeople default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/process/{processId}/moviments:
    get:
      summary: Lista as movimentaÃ§Ãµes pendentes de classificar
      description: Api para listar as movimentaÃ§Ãµes pendentes de classificar
      operationId: listMovimentsProcess
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: movimentId
        in: query
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      - name: typeId
        in: query
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: listMovimentsProcess default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/process/{processId}/movimentsmanual:
    get:
      operationId: listMovimentsManualProcess
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: movimentId
        in: query
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
      - name: typeId
        in: query
        required: false
        schema:
          type: string
          nullable: true
      responses:
        default:
          description: listMovimentsManualProcess default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/process/{processId}/movimentsmanual/{movimentId}:
    delete:
      operationId: deleteMovimentManual
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: processId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: movimentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: deleteMovimentManual default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/moviments/types:
    get:
      operationId: listTypesofMoviments
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
          nullable: true
      - name: organizationId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: listTypesofMoviments default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /v1/organization/{organizationId}/moviments/history:
    get:
[...]
